.channel{
    flex: 5;
    position: relative;
    padding: 0.5rem 1rem;
    border-right: 2px solid gray;
    height: calc(100vh - 75px);
    position: sticky;
    overflow-y: scroll;
    top: 65px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: purple;
  }
  .channelTopWrapper{
    display: flex;
    align-items: center !important;
    
  }
  .channelTopWrapper button{
    background-color: #6979f4;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    color: white;
   margin-bottom: 1rem;
   margin-right: 1.2rem;
  }
.channel-top{
    display: block;
    margin: auto;
    border: 2px solid purple;
    padding: 0 6px;
    border-radius: 55px;

    padding-bottom: 3px;
    width: 70%;
    position: relative;
}


.channel-top input{
    width: 45%;
    margin-left: 10px;
}
.channel-top input:focus{
    outline: none;

  
}
.ChannelSearchIcon{
    position: absolute;
    /* background-color: gray; */
    font-size: 35px !important;
    top: 8px;
    right: 2px;
    cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(125, 111, 111, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.modal-content {
  background-color: white;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* border: 2px solid red; */
  width: 45%;   
   height: 70%;  
  overflow-y: auto; /* Enable scrolling if content exceeds modal height */
}
.modal-main{
  display: flex;
  flex-direction: column;
}
.modal-input{
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #6979f4; /* Set border color */
  border-radius: 5px;
  height: 50px !important;
  outline: none; /* Remove default outline */
  
}
.modal-input input{
 
}
.button{
  width: 150px;
  background-color:  #b169f4;;
  color: white;
  border-radius: 2px;
  height: 40px;
  
}
.modal-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}